body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.music-player {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    background-color: #c3eed0;
    border-radius: 5px;
}

.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.music-info {
    flex: 1;
    margin-left: 20px;
}

.song-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.artist {
    font-size: 14px;
    margin: 0;
}

.controls {
    display: flex;
    align-items: center;
}

.controls button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: rgb(75, 71, 71);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
